*::-moz-selection {
    background: none repeat scroll 0 0 #E9AC44;
    color: #FFFFFF;
    text-shadow: none;
}

* {
    -moz-box-sizing: inherit !important;
    box-sizing: inherit !important;
}

body {
    background-color: #f5f5f5;
}

.f12 {
    font-size: 12px;
}

.containt {
    overflow: hidden;
    margin: 0 auto;
    width: 1000px;
}

.gallery {
    border: 0 none;
    font: inherit;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

#job-thumb {
    background: none repeat scroll 0 0 #E9AC44;
    float: left;
    margin: 1px;
    width: 33%;
    position: relative;
}

#job-image {
    opacity: 1;
    position: relative;
    transition: opacity 0.25s ease-in-out 0s;
    z-index: 2;
}

    #job-image:hover {
        opacity: 0;
    }

    #job-image a img {
        margin: 0;
    }

#job-heading {
    float: left;
    padding: 20px;
    position: absolute;
    z-index: 1;
    top: 0;
}

    #job-heading a {
        color: #FFFFFF;
    }

    #job-heading h2 {
        font-size: 18px;
    }

.thumb-heading {
    margin: 0px;
}

a, a:active {
    cursor: pointer;
    outline: medium none;
    text-decoration: none;
    transition: color 0.25s ease-in-out 0s;
}

img {
    height: auto;
    max-width: 100%;
}

@media (max-width: 767px) {
    .containt {
        width: 90%;
    }

    #job-thumb {
        float: left;
        margin: 1px;
        width: 49%;
    }
}

@media (max-width: 950px) {
    .containt {
        width: 80%;
    }

    #job-thumb {
        float: left;
        margin: 1px;
        width: 49%;
    }
}

@media (max-width: 480px) {
    .containt {
        width: 90%;
    }

    #job-thumb {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #E1E3E2;
        box-shadow: 0 0 1px 1px #DEE0DF;
        margin: 0 0 20px;
        width: 99%;
    }

    #job-image img {
        width: 150px;
        float: left;
    }

    #job-image:hover {
        opacity: 1;
    }

    #job-heading {
        padding: 10px;
        width: 40%;
    }

        #job-heading a {
            color: #5E6E70;
            display: block;
            height: 107px;
            width: 100%;
            text-decoration: none;
        }

        #job-heading h2 {
            font-size: 16px !important;
            font-weight: normal !important;
        }

            #job-heading h2 p {
                font-size: 12px;
            }

    #job-heading {
        position: static;
    }
}
